.campersListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.campersItem {
  border: var(--border);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;

  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.camperImgWrapper {
  border-radius: 10px;
  width: 292px;
  height: 320px;
}

.camperImg {
  object-fit: cover;
  border-radius: 10px;
}

.camperInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 524px;
}

.cardHeaderTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--foreground);
  margin: 0;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.camperPrise {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--foreground);
}

/* Btn Favorite */
.btnFavorite {
  background-color: transparent;
  border: none;
  padding: 0;
}

.btnFavorite:hover {
  background-color: transparent;
}

.featuresListWrapper {
  height: 104px;
  overflow: hidden;
}

.showmoreBtn {
  padding-inline: 16px;
  width: 166px;
  height: 56px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;

  transition: background-color 0.2s ease;
}

.showmoreBtn:hover {
  background-color: var(--accent);
}

.loadmoreBtn {
  margin-top: 40px;
  border: var(--border);
  background-color: transparent;
  border-radius: 200px;
  padding: 16px 0;
  width: 145px;
  height: 56px;

  color: var(--foreground);

  transition: border-color 0.2s ease;
}

.loadmoreBtn:hover {
  border-color: var(--accent);
  background-color: transparent;
  color: var(--foreground);
}
