:root {
  --background: #ffffff;
  --background-grey: #f7f7f7;
  --foreground: #101828;
  --accent: #d84343;
  --muted: #6c717b;
  --button-bg: #e44848;
  --button-text: #ffffff;
  --border: 1px solid #dadde1;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  --light-text: #475467;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

button {
  cursor: pointer;
  font: inherit;
  border: 1px solid var(--border);
  background: var(--button-bg);
  color: var(--button-text);
  transition: background 0.2s ease;
}

button:hover {
  background: var(--accent);
  color: var(--button-text);
}

main {
  padding-inline: 64px;
  width: 1440px;
  font-family: var(--font-family);
}
