.heroSection {
  background-image: url("/images/hero-background@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 696px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  color: var(--background-grey);

  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--background-grey);

  margin-bottom: 48px;
}

.button {
  display: block;
  border-radius: 200px;
  padding-inline: 16px;
  width: 173px;
  height: 56px;
  background: var(--button-bg);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--button-text);

  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--accent);
}
