.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewMeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.reviewCircle {
  background: #f2f4f7;
  border-radius: 60px;
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;
}

.reviewerWrapper {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.reviewText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 4;
}

.star {
  width: 15px;
  height: 14px;
}
