.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  list-style: none;
}

.featuresItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;

  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}
