.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 24px;

  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 44px 57px 0 57px;
  width: 641px;
  height: 588px;
}

.headerBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--foreground);
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--muted);
}

.fieldsBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.input {
  border-radius: 12px;
  border: none;
  background: var(--background-grey);
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
}

.textarea {
  resize: none;
  font-family: var(--font-family);
  border-radius: 10px;
  border: none;
  background: var(--background-grey);
  padding: 18px 308px 76px 18px;
  width: 527px;
  height: 118px;
}

.input::placeholder,
.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--muted);
}

.input:focus,
.textarea:focus {
  outline: none;
}

.sendBtn {
  margin: 0 auto;
  border-radius: 200px;
  padding-inline: 16px;
  width: 166px;
  height: 56px;
}

/* Календар */
/* Загальний контейнер календаря */
.customCalendar {
  background-color: #fff;
  border: 1px solid #475467;
  border-radius: 12px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  width: 276px;
}

:global(.customCalendar .react-datepicker__month-container) {
  width: 276px;
}

/* Верхня панель з місяцем і навігацією */
:global(.customCalendar .react-datepicker__header) {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828;

  background-color: #fff;
  padding: 8px 0;
  border-bottom: none;
}

:global(.customCalendar .react-datepicker__day-names) {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
  border-bottom: 1px solid #475467;
  margin-bottom: 8px;
}

:global(.customCalendar .react-datepicker__day-name) {
  font-size: 12px;
  text-transform: uppercase;
}

/* Кожен день */
:global(.customCalendar .react-datepicker__day) {
  width: 36px;
  height: 32px;
  line-height: 1.2;
  text-align: center;
  border-radius: 32px;
  margin: 0 auto;

  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Сьогодні */
:global(.customCalendar .react-datepicker__day--today) {
  font-weight: bold;
}

:global(.customCalendar .react-datepicker__day--selected) {
  background: #475467;
  color: #fff;
  font-weight: bold;
}

:global(.customCalendar .react-datepicker__day:hover) {
  border-radius: 32px;
  /* color: #333; */
}

/* Навігаційні стрілки */
.customCalendar .react-datepicker__navigation {
  top: 10px;
}

.customCalendar .react-datepicker__navigation-icon::before {
  border-color: #98a2b3;
}

/* Дні поза поточним місяцем */
:global(.customCalendar .react-datepicker__day--outside-month) {
  color: #98a2b3;
  margin: 0 auto;
}
