.form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.group {
  border: none;
  padding: 0;
  margin: 0;
}

.locationLegend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--muted);
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-text);

  margin: 40px 0 32px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconMap {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  fill: var(--muted);
  pointer-events: none;
}

.input {
  border-radius: 12px;
  padding: 18px 218px 18px 48px;
  width: 360px;
  background: var(--background-grey);
  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--muted);
}

input:focus {
  outline: none;
}

.legend {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--foreground);
}

.separator {
  width: 360px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.checkboxList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
  margin-bottom: 32px;
}

.checkboxItem {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.square {
  width: 112px;
  height: 96px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: border-color 0.2s ease;
}

.checkbox:checked + .square {
  border-color: var(--button-bg);
}

.iconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
}

.labelText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--foreground);
}

.radioList {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.radioItem {
  cursor: pointer;
}

.radio {
  display: none;
}

.radio:checked + .square {
  border-color: var(--button-bg);
}

.searchBtn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
}
