.cardWrapper {
  padding: 48px 0 60px;
}

.cardHeaderTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--foreground);

  margin-bottom: 8px;
}
.camperPrise {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--foreground);

  margin-top: 16px;
  margin-bottom: 28px;
}

.cardGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  list-style: none;
}

.cardItem {
  height: 312px;
  width: 292px;
}

.cardPhoto {
  object-fit: cover;
  border-radius: 10px;
}

.cardDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-text);

  margin-top: 28px;
}
