.featuresWrapper {
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equipmentWrapper {
  /* background-color: aquamarine; */
  min-height: 104px;
}

.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.equipmentItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  width: 123px;
  height: 48px;

  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.detailsWrapper {
  /* background-color: aquamarine; */
  min-height: 296px;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  text-align: left;
}

.separatorCell {
  position: relative;
  border: none;
  padding: 24px 0;
}

.separatorCell::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #dadde1;
}

.vehicleTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 1.4;
  color: #101828;
}
.vehicleTable {
  border-collapse: separate;
  border-spacing: 0 16px;
}

.cellHeader {
  text-align: left;
  font-weight: 500;
  background-color: transparent;
  width: 40%;
  font-size: 16px;
}

.cellData {
  background-color: transparent;
  text-align: right;
  font-size: 16px;
}
