.featuresWrapper {
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: var(--background-grey);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equipmentWrapper {
  min-height: 104px;
}

.detailsWrapper {
  min-height: 296px;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--foreground);
  text-align: left;
}

.separatorCell {
  position: relative;
  border: none;
  padding: 24px 0;
}

.separatorCell::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #dadde1;
}

.vehicleTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 1.4;
  color: var(--foreground);
}
.vehicleTable {
  border-collapse: separate;
  border-spacing: 0 16px;
}

.cellHeader {
  text-align: left;
  font-weight: 500;
  background-color: transparent;
  width: 40%;
  font-size: 16px;
}

.cellData {
  background-color: transparent;
  text-align: right;
  font-size: 16px;
}
