.tabsWrapper {
  margin: 0 auto;
}
.tabList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  min-height: 48px;

  border-bottom: 1px solid #e5e7eb;
}
.tabBtn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  background-color: transparent;
  border: none;

  position: relative;

  padding: 8px 0;
  cursor: pointer;
}
.tabBtn:hover,
.tabBtn:focus {
  background-color: transparent;
  color: #101828;
}

.tabBtn.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}
